.container-fluid
  .row.profiler
    .span2
      %img{src:"http://a.wattpad.com/useravatar/Prettydonnapot.128.510238.jpg",class:"img-polaroid"}
    .span4
      %table
        %tr
          %td{width:"50%"}
            Name
          %td
            Ugat Salabat
        %tr
          %td{width:"50%"}
            Location
          %td
            Mandaluyong City
        %tr
          %td{width:"50%"}
            Birthday
          %td
            October 5, 1991
        %tr
          %td{width:"50%"}
            Likes received
          %td
            154
  %hr
  
    <b>MY COMICS STAND</b>
    <br/>
    <br/>
    .row.profiler
      .span2
        %img{src:"/assets/sample.jpg",class:"img-polaroid"}
      .span4
        %h4
          TITLE GOES HERE
        %p
          Some description here....
    %br

    .row.profiler
      .span2
        %img{src:"/assets/sample.jpg",class:"img-polaroid"}
      .span4
        %h4
          TITLE GOES HERE
        %p
          Some description here....
    
    




   