#myCarousel.carousel.slide
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  / Carousel items
  .carousel-inner
    - @comics.each_with_index do |img,i|
      .item{class: "#{i.eql?(0) ? 'active' : ''}", style: "background-color: #000000"}
        %center
          %image{src: img.comic.url(:original)}
  / Carousel nav
  %a.carousel-control.left{"data-slide" => "prev", href: "#myCarousel"} ‹
  %a.carousel-control.right{"data-slide" => "next", href: "#myCarousel"} ›