<div class="slider-wrapper theme-dark">
    <div id="slider" class="nivoSlider">
        <img src="assets/toystory.jpg" data-thumb="assets/toystory.jpg" alt="" />
        <a href="http://dev7studios.com"><img src="assets/up.jpg" data-thumb="images/up.jpg" alt="" title="This is an example of a caption" /></a>
        <img src="assets/walle.jpg" data-thumb="assets/walle.jpg" alt="" data-transition="slideInLeft" />
        <img src="assets/nemo.jpg" data-thumb="assets/nemo.jpg" alt="" title="#htmlcaption" />
    </div>
    <div id="htmlcaption" class="nivo-html-caption">
        <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. 
    </div>
</div>