.slider-wrapper.theme-dark
  #slider.nivoSlider
    %img{alt: "", "data-thumb" => "assets/toystory.jpg", src: "assets/toystory.jpg"}/
    %a{href: "http://dev7studios.com"}
      %img{alt: "", "data-thumb" => "images/up.jpg", src: "assets/up.jpg", title: "This is an example of a caption"}/
    %img{alt: "", "data-thumb" => "assets/walle.jpg", "data-transition" => "slideInLeft", src: "assets/walle.jpg"}/
    %img{alt: "", "data-thumb" => "assets/nemo.jpg", src: "assets/nemo.jpg", title: "#htmlcaption"}/
  #htmlcaption.nivo-html-caption
    %strong This
    is an example of a
    %em HTML
    caption with
    = succeed "." do
      %a{href: "#"} a link