.container-fluid
  = render "slider"
  WHAT'S HOT
  %br/
  %br/
  .slider1
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
  RECENTLY PUBLISHED
  %br/
  %br/
  .slider1
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
  %br/
  RECENTLY UPDATED
  %br/
  %br/
  .slider1
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
  %br/