<div class="container-fluid">
	<%= render "slider" %>
	WHAT'S HOT
	<br/>
	<br/>
	<div class="slider1">
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
	</div>
	RECENTLY PUBLISHED
	<br/>
	<br/>
	<div class="slider1">
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
	</div>
	<br/>
	RECENTLY UPDATED
	<br/>
	<br/>
	<div class="slider1">
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
		<div class="slide"><img src="/assets/sample.jpg"></div>
	</div>
	<br/>
</div>
