.container-fluid
  = render "slider"
  <b>WHAT'S HOT</b>
  %br/
  %br/
  .slider1
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
  <b>RECENTLY PUBLISHED</b>
  %br/
  %br/
  .slider1
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
  %br/
  <b>RECENTLY UPDATED</b>
  %br/
  %br/
  .slider1
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
    .slide
      %img{src: "/assets/sample.jpg"}/
  %br/