// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo{
	width: 150px;
}

ul.menu{
	top: 30px;
}

.wrapper{
	margin-top: 95px;
	background: #eaeaea;
	height: auto;
}

body{
	background: url("/assets/abstract.png")
}

.slider-wrapper { 
	width: 98%; 
	margin: 20px auto;
}

.profiler{
	padding: 15px 10px 10px 0px;
}

.search-works{
	margin-top: 5px;
}


.ribbon {
    overflow:visible;
 position:relative;
    left: -40px;
    width:99.8%;
    height:25px;
    background:#333;
    color: white;
    padding: 20px 40px;
    font-size: 16px;
    font-weight:bold;
    border-radius:5px 5px 0 0;
    box-shadow:0 0 8px #333;
    text-shadow:0 0 8px #000;
}

.ribbon:before{
    content:'';
 overflow:visible;
    position:absolute;
    bottom:-20px;
    left:0;
    border-top:solid 10px #333;
    border-right:solid 10px #333;
    border-bottom:solid 10px transparent;
    border-left:solid 10px transparent;
}

.ribbon:after{
    content:'';
 overflow:visible;
    position:absolute;
    bottom:-20px;
    right:0;
    border-top:solid 10px #333;
    border-right:solid 10px transparent;
    border-bottom:solid 10px transparent;
    border-left:solid 10px #333;
}


#login-form h3 { margin: 0; }

#login-form a {
    color: #999;
    text-decoration: none;
}

#login-form a:hover { color: #1dabb8; }

#login-form fieldset {
    border: none;
    margin: 0;
}

#login-form input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    -webkit-appearance: none;
}

#login-form input:focus {
  outline: none;
}

#login-form input[type="submit"] { cursor: pointer; }

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after {
    content: "";
    display: table; 
}
.clearfix:after { clear: both; }

/* ---------- LOGIN-FORM ---------- */

#login-form {
    margin: 50px auto;
    width: 300px;
}

#login-form h3 {
    background-color: #282830;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

#login-form fieldset {
    background: #fff;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    position: relative;
}

#login-form fieldset:before {
    background-color: #fff;
    content: "";
    height: 8px;
    left: 50%;
    margin: -4px 0 0 -4px;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px;
}

#login-form input {
    font-size: 14px;
}

#login-form input[type="email"],
#login-form input[type="password"] {
    border: 1px solid #dcdcdc;
    padding: 12px 10px;
    width: 238px;
}

#login-form input[type="email"] {
    border-radius: 3px 3px 0 0;
}

#login-form input[type="password"] {
    border-top: none;
    border-radius: 0px 0px 3px 3px;
}

#login-form input[type="submit"] {
    background: #1dabb8;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-weight: bold;
    margin-top: 20px;
    padding: 12px 20px;
}

#login-form input[type="submit"]:hover { background: #198d98; }

#login-form footer {
    font-size: 12px;
    margin-top: 16px;
}


/* Sign Up */

#signup-form h3 { margin: 0; }

#signup-form a {
    color: #999;
    text-decoration: none;
}

#signup-form a:hover { color: #1dabb8; }

#signup-form fieldset {
    border: none;
    margin: 0;
}

#signup-form input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    -webkit-appearance: none;
}

#signup-form input:focus {
  outline: none;
}

#signup-form input[type="submit"] { cursor: pointer; }

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after {
    content: "";
    display: table; 
}
.clearfix:after { clear: both; }

/* ---------- LOGIN-FORM ---------- */

#signup-form {
    margin: 50px auto;
    width: 830px;
}

#signup-form h3 {
    background-color: #282830;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

#signup-form fieldset {
    background: #fff;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    position: relative;
}

#signup-form fieldset:before {
    background-color: #fff;
    content: "";
    height: 8px;
    left: 50%;
    margin: -4px 0 0 -4px;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px;
}

#signup-form input {
    font-size: 14px;
}

#signup-form input,
#signup-form input {
    border: 1px solid #dcdcdc;
    padding: 12px 10px;
    width: 238px;
}

#signup-form input {
    border-radius: 3px 3px 0 0;
}

#signup-form input {
    border-top: none;
    border-radius: 0px 0px 3px 3px;
}

#signup-form input[type="submit"] {
    background: #1dabb8;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-weight: bold;
    margin-top: 20px;
    padding: 12px 20px;
}

#signup-form textarea{
    width: 247px;
    margin-top: 6px;
    height: 35px;
}

#signup-form input[type="submit"]:hover { background: #198d98; }

#signup-form footer {
    font-size: 12px;
    margin-top: 16px;
}

.add-chapter{
    color: #fff;
}